@keyframes blinka {
  0% {
    background-color: #00000000;
  }
  20% {
    background-color: #00000033;
  }
  40% {
    background-color: #00000000;
  }
  60% {
    background-color: #00000033;
  }
  80% {
    background-color: #00000000;
  }

  100% {
    background-color: #00000000;
  }
}

html,
body {
  overflow: hidden !important;
}

.naomostra {
  display: none;
}

#pas_LivroComponente,
#pres_LivroComponente,
#fut_LivroComponente {
  width: 100% !important;
  height: calc(100dvh - 60px) !important;
  position: relative;
  z-index: 2;
  transition: transform 0.4s ease-in;
}

#pas_LivroFuturo,
#pres_LivroFuturo,
#fut_LivroFuturo {
  width: 100% !important;
  height: calc(100dvh - 60px) !important;
  position: relative;
  z-index: 3;
  transition: transform 0.4s ease-in;
}

#timeline {
  position: fixed;
  bottom: -145px;
  /* border: 1px solid black; */
  height: 140px;
  /* width: calc(100% - 40px);
  left: 20px; */
  z-index: 800;
  transition: transform 0.4s ease-in;
  perspective: 600px;
  width: calc(100% - 160px) !important;
  left: 80px;
}

#timelinewrap::-webkit-scrollbar {
  height: 7px;
}

#timelinewrap::-webkit-scrollbar-thumb {
  background: black;
  background-color: black;
}

#timelinewrap {
  /* border: 1px solid black; */
  overflow-x: auto;
  overflow-y: hidden;
  width: 100%;
  height: 140px;
  transform: rotateX(30deg);
  transform-origin: top center;
}

#indices {
  display: flex;
  width: 120px;
  /* border: 1px solid red; */
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: flex-end;
  transform-origin: right top;
  transform: rotate(-90deg);
  margin-left: -124px;
}

#indices div {
  width: 100%;
  text-align: right;
  min-height: 30px;
  text-transform: uppercase;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 10px;
  line-height: 12px;
}

#indices div div {
  border-top: 1px dotted black;
  width: 100%;
  padding-top: 10px;
  cursor: pointer;
}

#indices div div:hover {
  background-color: #00000055;
}

#pas_LivroComponente.show,
#pres_LivroComponente.show,
#fut_LivroComponente.show,
#pas_LivroFuturo.show,
#pres_LivroFuturo.show,
#fut_LivroFuturo.show {
  transform: rotateX(-5deg) translateY(-150px);
}

#timeline.show,
#timeline.show {
  transform: translateY(-165px);
}

#kode {
  position: fixed;
  z-index: 500;
  width: calc(100% - 120px);
  /* background-color: red; */
  left: 60px;
  bottom: 0px;
  height: 30px;
  cursor: pointer;
}

#kode.show {
  bottom: 19.8dvh;
}

#mais {
  position: fixed;
  z-index: 500;
  width: 30px;
  background-color: transparent;
  right: 0;
  top: 100px;
  height: calc(100dvh - 220px);
  cursor: pointer;
}

#mais.blink {
  animation-name: blinka;
  animation-duration: 1.5s;
  animation-delay: 4s;
  animation-iteration-count: 6;
  animation-direction: normal;
}

#menos {
  position: fixed;
  z-index: 500;
  width: 30px;
  background-color: transparent;
  left: 0;
  top: 100px;
  height: calc(100dvh - 220px);
  cursor: pointer;
}

#pas_BlocoCover.initdouble,
#pres_BlocoCover.initdouble,
#fut_BlocoCover.initdouble,
#pas_BlocoBack.initdouble,
#pres_BlocoBack.initdouble,
#fut_BlocoBack.initdouble,
#pas_BlocoFundoD.initdouble,
#pres_BlocoFundoD.initdouble,
#fut_BlocoFundoD.initdouble,
#pas_BlocoFundoE.initdouble,
#pres_BlocoFundoE.initdouble,
#fut_BlocoFundoE.initdouble {
  width: calc(100vw - 60px) !important;
  transform: translateX(0) !important;
}

#pas_PaginaCover.initdouble,
#pres_PaginaCover.initdouble,
#fut_PaginaCover.initdouble,
#pas_PaginaBack.initdouble,
#pres_PaginaBack.initdouble,
#fut_PaginaBack.initdouble,
#pas_PaginaFundo_DIR.initdouble,
#pres_PaginaFundo_DIR.initdouble,
#fut_PaginaFundo_DIR.initdouble,
#pas_PaginaFundo_ESQ.initdouble,
#pres_PaginaFundo_ESQ.initdouble,
#fut_PaginaFundo_ESQ.initdouble {
  transform-origin: left center;
  width: calc(100vw - 60px);
}

#pas_Ifr_PaginaCover.initdouble,
#pres_Ifr_PaginaCover.initdouble,
#fut_Ifr_PaginaCover.initdouble,
#pas_Ifr_PaginaBack.initdouble,
#pres_Ifr_PaginaBack.initdouble,
#fut_Ifr_PaginaBack.initdouble,
#pas_Ifr_PaginaFundo_DIR.initdouble,
#pres_Ifr_PaginaFundo_DIR.initdouble,
#fut_Ifr_PaginaFundo_DIR.initdouble,
#pas_Ifr_PaginaFundo_ESQ.initdouble,
#pres_Ifr_PaginaFundo_ESQ.initdouble,
#fut_Ifr_PaginaFundo_ESQ.initdouble {
  width: calc(100vw - 60px);
}

#pas_Wrap,
#pres_Wrap,
#fut_Wrap,
#pas_WrapFuturo,
#pres_WrapFuturo,
#fut_WrapFuturo {
  width: calc(100vw - 60px);
  height: calc(100dvh - 60px);
  padding: 0;
  overflow: hidden;
  margin: 20px;
}

#pas_PaginaFundo_ESQ,
#pres_PaginaFundo_ESQ,
#fut_PaginaFundo_ESQ {
  width: calc(50vw - 30px);
  height: calc(100dvh - 60px);

  display: inline-block;
  margin: 0;
  position: absolute;
  z-index: 2;
  transform: translateX(0px);
  box-shadow: 10px 10px 10px #00000044;
}

#pas_PaginaFundo_DIR,
#pres_PaginaFundo_DIR,
#fut_PaginaFundo_DIR {
  width: calc(50vw - 30px);
  height: calc(100dvh - 60px);

  display: inline-block;
  margin: 0;
  position: absolute;
  transform: translateX(calc(50vw - 30px));
  box-shadow: 10px 10px 10px #00000044;
}
#pas_BlocoCover,
#pres_BlocoCover,
#fut_BlocoCover {
  width: calc(50vw - 30px);
  height: calc(100dvh - 60px);

  perspective: 1400px;
  display: inline-block;
  margin: 0;
  position: absolute;
  z-index: 10;
  transform: translateX(calc(50vw - 30px));
}

#pas_PaginaCover,
#pres_PaginaCover,
#fut_PaginaCover {
  width: calc(50vw - 30px);
  height: calc(100dvh - 60px);
  transform-origin: left center;
  overflow: hidden;
}

#pas_BlocoBack,
#pres_BlocoBack,
#fut_BlocoBack {
  width: calc(50vw - 30px);
  height: calc(100dvh - 60px);

  perspective: 1400px;
  display: inline-block;
  margin: 0;
  position: absolute;
  transform: translateX(calc(50vw - 30px));
}

#pas_PaginaBack,
#pres_PaginaBack,
#fut_PaginaBack {
  width: calc(50vw - 30px);
  height: calc(100dvh - 60px);
  transform-origin: left center;
}

#pas_Ifr_PaginaCover,
#pres_Ifr_PaginaCover,
#fut_Ifr_PaginaCover {
  width: calc(50vw - 30px);
  height: calc(100dvh - 60px);
}

#pas_Ifr_PaginaBack,
#pres_Ifr_PaginaBack,
#fut_Ifr_PaginaBack {
  transform: scaleX(-1);

  width: calc(50vw - 30px);
  height: calc(100dvh - 60px);
}
#pas_Ifr_PaginaFundo_DIR,
#pres_Ifr_PaginaFundo_DIR,
#fut_Ifr_PaginaFundo_DIR {
  width: calc(50vw - 30px);
  height: calc(100dvh - 60px);
}

#pas_Ifr_PaginaFundo_ESQ,
#pres_Ifr_PaginaFundo_ESQ,
#fut_Ifr_PaginaFundo_ESQ {
  width: calc(50vw - 30px);
  height: calc(100dvh - 60px);
}
