html,
body {
  overflow: hidden !important;
}

.naomostra {
  display: none;
}

#pas_LivroComponente,
#pres_LivroComponente,
#fut_LivroComponente {
  width: 100% !important;
  height: calc(100dvh - 60px) !important;
  position: relative;
  z-index: 2;
  transition: transform 0.4s ease-in;
}

#pas_LivroFuturo,
#pres_LivroFuturo,
#fut_LivroFuturo {
  width: 100% !important;
  height: calc(100dvh - 60px) !important;
  position: relative;
  z-index: 3;
  transition: transform 0.4s ease-in;
}

#timeline {
  position: fixed;
  bottom: -145px;
  border: 1px solid black;
  height: 140px;
  width: calc(100% - 40px);
  left: 20px;
  z-index: 1;
  transition: transform 0.4s ease-in;
}

#pas_LivroComponente.show,
#pres_LivroComponente.show,
#fut_LivroComponente.show,
#pas_LivroFuturo.show,
#pres_LivroFuturo.show,
#fut_LivroFuturo.show {
  transform: rotateX(-5deg) translateY(-150px);
}

#timeline.show,
#timeline.show {
  transform: translateY(-165px);
}

#mais {
  position: fixed;
  z-index: 500;
  width: 30px;
  background-color: red;
  right: 0;
  top: 100px;
  height: calc(100dvh - 220px);
  cursor: pointer;
}

#menos {
  position: fixed;
  z-index: 500;
  width: 30px;
  background-color: red;
  left: 0;
  top: 100px;
  height: calc(100dvh - 220px);
  cursor: pointer;
}

#pas_BlocoCover.initdouble,
#pres_BlocoCover.initdouble,
#fut_BlocoCover.initdouble {
  width: calc(100vw - 60px) !important;
  transform: translateX(calc(0vw)) !important;
}

#pas_BlocoCover.initdouble,
#pres_BlocoCover.initdouble,
#fut_BlocoCover.initdouble {
  width: calc(50vw - 30px) !important;
  transform: translateX(calc(50vw - 30px)) !important;
}

#pas_PaginaCover.initdouble,
#pres_PaginaCover.initdouble,
#fut_PaginaCover.initdouble {
  transform-origin: left center;
  width: calc(50vw - 30px);
}

#pas_Wrap,
#pres_Wrap,
#fut_Wrap,
#pas_WrapFuturo,
#pres_WrapFuturo,
#fut_WrapFuturo {
  width: calc(100vw - 60px);
  height: calc(100dvh - 60px);
  padding: 0;
  overflow: hidden;
  margin: 20px;
}

#pas_PaginaFundo_ESQ,
#pres_PaginaFundo_ESQ,
#fut_PaginaFundo_ESQ {
  width: calc(50vw - 30px);
  height: calc(100dvh - 60px);

  display: inline-block;
  margin: 0;
  position: absolute;
  z-index: 2;
  transform: translateX(0px);
  box-shadow: 10px 10px 10px #00000044;
}

#pas_PaginaFundo_DIR,
#pres_PaginaFundo_DIR,
#fut_PaginaFundo_DIR {
  width: calc(50vw - 30px);
  height: calc(100dvh - 60px);

  display: inline-block;
  margin: 0;
  position: absolute;
  transform: translateX(calc(50vw - 30px));
  box-shadow: 10px 10px 10px #00000044;
}
#pas_BlocoCover,
#pres_BlocoCover,
#fut_BlocoCover {
  width: calc(50vw - 30px);
  height: calc(100dvh - 60px);

  perspective: 1400px;
  display: inline-block;
  margin: 0;
  position: absolute;
  z-index: 10;
  transform: translateX(calc(50vw - 30px));
}

#pas_PaginaCover,
#pres_PaginaCover,
#fut_PaginaCover {
  width: calc(50vw - 30px);
  height: calc(100dvh - 60px);
  transform-origin: left center;
  overflow: hidden;
}

#pas_BlocoBack,
#pres_BlocoBack,
#fut_BlocoBack {
  width: calc(50vw - 30px);
  height: calc(100dvh - 60px);

  perspective: 1400px;
  display: inline-block;
  margin: 0;
  position: absolute;
  transform: translateX(calc(50vw - 30px));
}

#pas_PaginaBack,
#pres_PaginaBack,
#fut_PaginaBack {
  width: calc(50vw - 30px);
  height: calc(100dvh - 60px);
  transform-origin: left center;
}

#pas_Ifr_PaginaCover,
#pres_Ifr_PaginaCover,
#fut_Ifr_PaginaCover {
  width: calc(50vw - 30px);
  height: calc(100dvh - 60px);
}

#pas_Ifr_PaginaBack,
#pres_Ifr_PaginaBack,
#fut_Ifr_PaginaBack {
  transform: scaleX(-1);

  width: calc(50vw - 30px);
  height: calc(100dvh - 60px);
}
#pas_Ifr_PaginaFundo_DIR,
#pres_Ifr_PaginaFundo_DIR,
#fut_Ifr_PaginaFundo_DIR {
  width: calc(50vw - 30px);
  height: calc(100dvh - 60px);
}

#pas_Ifr_PaginaFundo_ESQ,
#pres_Ifr_PaginaFundo_ESQ,
#fut_Ifr_PaginaFundo_ESQ {
  width: calc(50vw - 30px);
  height: calc(100dvh - 60px);
}

#pas_PASS_BlocoFundoE,
#pres_PASS_BlocoFundoE,
#fut_PASS_BlocoFundoE {
  position: fixed !important;
  top: -300dvh !important;
}

#pas_PASS_BlocoCover,
#pres_PASS_BlocoCover,
#fut_PASS_BlocoCover {
  position: fixed !important;
  top: -300dvh !important;
}

#pas_NEW_BlocoFundoE,
#pres_NEW_BlocoFundoE,
#fut_PASS_BlocoCover {
  position: fixed !important;
  top: -300dvh !important;
}

#pas_NEW_BlocoCover,
#pres_NEW_BlocoCover,
#fut_NEW_BlocoCover {
  position: fixed !important;
  top: -300dvh !important;
}
