@import url("https://fonts.googleapis.com/css2?family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap");

* {
  border: 0;
  padding: 0;
  margin: 0;
  outline: 0;
  grid-column: par / later;
}

::-webkit-scrollbar {
  background: transparent;
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: color-mix(
    in srgb,
    var(--color-fg, #000000),
    var(--color-bg, #ffffff) 70%
  );
  transition: background-color 0.3s ease-in;
  width: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-fg, #000000);
  transition: background-color 0.3s ease-in;
}

.indexs {
  overflow: hidden;
  display: block;
  height: 0;
  color: transparent;
}

.ref {
  grid-column: later;
  font-size: 14px;
  line-height: 20px;
}

.ref * {
  font-size: 14px;
  line-height: 20px;
}

.limit {
  display: block;
  max-width: 650px;
}

.fix {
  position: sticky;
  padding-top: 100px;
  top: 0;
  background-color: var(--color-bg, #ffffff);
}

.ref.fix {
  grid-column: later;
}

.outline {
  grid-column: init / par;
  width: 100%;
  text-align: right;
}

.label {
  grid-column: init / par;
  width: 100%;
  text-align: right;
}

html {
  margin: 40px;
  margin-bottom: 80px;
  margin-left: max(40px, calc(50% - 590px));
  margin-right: max(40px, calc(50% - 590px));
  background-color: var(--color-bg, #ffffff);
  color: var(--color-fg, #000000);

  font-family: "Source Serif 4", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

body {
  display: grid;
  grid-template-columns: [init] 60px [par] 1.05fr [mid] 0.25fr [later] 0.7fr [end] 30px [respiro];
  gap: 20px 40px;
}

h1 {
  font-size: 54px;
  line-height: 54px;
  display: block;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  unicode-bidi: isolate;
  grid-column: par / end;
}

h2 {
  padding-top: 20px;
  background-color: var(--color-bg, #ffffff);
  margin-left: -40px;
  padding-left: 40px;
  padding-bottom: 26px;
  grid-column: par / end;
  z-index: 10;
  font-size: 28px;
  line-height: 32px;
  display: block;
  font-weight: bold;
  unicode-bidi: isolate;
}

.forceH2fix {
  /* padding-top: 20px !important; */
  padding-top: 0 !important;
  z-index: 11;
  grid-column: par / end;
}

h2.fix {
  position: sticky;
  top: 0px;
  padding-top: 20px;
  z-index: 11;
}

.outline.fix.forceH2fix {
  grid-column: init / par !important;
}

a {
  color: color-mix(
    in srgb,
    var(--color-bg, #000000) 30%,
    var(--color-fg, #000000) 70%
  );
  text-decoration: none;
  border-bottom: 1px dotted
    color-mix(
      in srgb,
      var(--color-bg, #000000) 80%,
      var(--color-fg, #000000) 20%
    );
}

a:hover {
  color: color-mix(
    in srgb,
    var(--color-bg, #000000) 0%,
    var(--color-fg, #000000) 100%
  );
  border-bottom: 1px solid
    color-mix(
      in srgb,
      var(--color-bg, #000000) 70%,
      var(--color-fg, #000000) 30%
    );
}

a.indexs {
  border: 0 !important;
}

p,
ul,
ol,
li,
blockquote,
div,
pre,
code {
  font-size: 18px;
  line-height: 26px;
}

.halfLeft {
  grid-column: par / mid;
}

.halfRight {
  grid-column: mid / end;
}

.half:nth-child(odd) {
  grid-column: par / mid;
}

.half:nth-child(even) {
  grid-column: mid / end;
}

#visualtitle {
  position: fixed;
  top: 0px;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 11px;
  line-height: 11px;
  height: 11px;
  color: #00000088;
  transform-origin: top left;
  text-align: center;
  transform: translate(5px, calc(100dvh - 25px)) rotate(-90deg);
  width: calc(100dvh - 45px);
  left: 0px;
  text-transform: uppercase;
}

#sumarion {
  position: fixed;
  bottom: 30px;
  right: 15px;
  width: 150px;
  height: calc(100dvh - 45px);
  display: flex;
  flex-direction: column-reverse;
  flex-wrap: nowrap;
  align-items: flex-end;
}

#sumarion div {
  color: color-mix(
    in srgb,
    var(--color-bg, #ffffff) 50%,
    var(--color-fg, #000000) 50%
  );
  margin-top: 1px;
  transition: all 0.4s ease-in;
  cursor: pointer;
  padding: 0px 10px 0px 10px;
  height: 20px !important;
  margin-top: 1px;
  border-right: 8px solid
    color-mix(in srgb, #00000000 100%, var(--color-fg, #000000) 0%);
  font-family: Helvetica, Arial, sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  font-size: 12px;
  line-height: 20px;
}

#sumarion div:hover {
  transition: all 0.2s ease-in;
  border-right: 4px solid var(--color-fg, #000000);
  color: var(--color-fg, #000000);
}

@media screen and (max-width: 1339px) {
  #sumarion {
    display: none !important;
  }
}

@media screen and (max-width: 900px) {
  html {
    margin-left: 15px !important;
    margin-right: 10px !important;
  }
}

@media screen and (max-width: 880px) {
  .ref {
    display: none !important;
  }

  #visualtitle {
    display: none;
  }

  body {
    grid-template-columns: [init] 30px [par] 1.05fr [mid] 0.95fr [end] 5px [respiro];
    gap: 20px 35px;
  }

  h2 {
    margin-left: -30px !important;
    padding-left: 30px !important;
  }

  * {
    grid-column: par / end;
  }
}

@media screen and (max-width: 560px) {
  html {
    margin-left: 35px !important;
    margin-right: 5px !important;
  }

  .outline {
    display: none !important;
  }

  .label {
    display: none !important;
  }

  .halfLeft {
    grid-column: init / mid !important;
  }

  .half:nth-child(odd) {
    grid-column: init / mid !important;
  }

  .forceH2fix {
    grid-column: init / end !important;
  }

  h1 {
    grid-column: init / end !important;
  }

  h2 {
    grid-column: init / end !important;
    margin-left: 0 !important;
    padding-left: 0 !important;
  }

  body {
    grid-template-columns: [init] 1fr [mid] 1fr [end];
    gap: 20px 20px;
  }

  * {
    grid-column: init / end;
  }
}
